
<h1 class="text-center">Change Password</h1>
<div class="container">
    <%= form_with model: @user, url: user_update_password_path(@user.id), local: true do |f| %>
        <% if @user.errors.any? %>
            <p><%= @user.errors.full_messages.join(', ') %> </p>
        <% end %>
        <div>
            <div>
                <div class="mb-3">
                    <%= f.label :current_password, "Current Password", { class: "form-label" } %>
                    <%= f.password_field :current_password, { class: "form-control", placeholder: "Old password" } %>
                </div>
                <div class="mb-3">
                    <%= f.label :new_password, "New Password", { class: "form-label" } %>
                    <%= f.password_field :new_password, { class: "form-control", placeholder: "New password" } %>
                </div>
                <%= f.label :new_password_confirmation, "New Password Confirmation", { class: "form-label" } %>
                        <%= f.password_field :new_password_confirmation, { class: "form-control", placeholder: "Confirm New password" } %>
            </div>
        </div>
        <div class="mb-3 mt-3">
            <%= f.submit "Update Password", class: "btn btn-outline-info btn-lg" %>
        </div>
    <% end %>
</div>