
<h1 class="text-center">Post Show Page</h1>
<div class="container ">
<h2><%= @post.title %></h2>
<p>
    <span><%= @post.body %></span>
   
</p>
<p>
    <small>Created at: <%= @post.created_at %></small>
    <small>- By: <%= @post.user.full_name%></small>
    <% if can? :crud, @post %>
        <div class="d-flex">
            <span><%= button_to 'Edit', edit_post_path(@post), method: :get %></span>
            <span><%= button_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %></span>
        </div>    
    <% end %>  
</p>



<h4>Comments</h4>

<ul class="list-group">
    <% @comments.each do |comment| %>
        <li class="list-group-item">
            <%= comment.body%>
            <p>
                <small>Commented <%= time_ago_in_words(comment.created_at) %> ago </small>
                <small> - By: <%= comment.user.full_name%> </small>
             
                <% if can? :crud, comment %>
                    <%= button_to "Delete", post_comment_path(@post.id, comment.id), method: :delete %>
                <% end %>
            </p>
        </li>
    <% end %>
</ul>

<hr>

<h4>Write your comment</h4>

<% if @comment.errors.any? %>
    <ul>
        <% @comment.errors.full_messages.each do |msg| %>
            <li>
                <%= msg %>
            </li>
        <% end %>
    </ul>
<% end %>
<%= form_with(model:[@post, @comment]) do |f|%>

    <div>
        <%= f.label :body%>
        <br>        
        <%= f.text_area :body, class: 'form-control', cols:100, rows:5 %>
    </div>

    <%= f.submit "Add Comment" %>
<% end %>
</div>